.*.sw*
*~
*.o
*.a
*.so

# VS build artifacts
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb

# VS setting files
*.vcxproj.filters
*.vcxproj.user
*.v12.suo

# testing system artifacts
tests/**/out.qemu
tests/**/out.cemu
tests/**/out.evm
tests/**/*.bin
tests/**/*.out
tests/asm/passes
tests/asm/fails

**/bins/cemu*

# QEMU config artifacts
QEMU/qemu/roms/seabios/config.mak
QEMU/qemu/roms/vgabios/config.mak
