.*.sw*
*~
*.o
*.a
*.so
*.bin
*.out
*.obj
*.log
*.tlog
*.lastbuildstate
*.vcxproj.filters
*.vcxproj.user
*.v12.suo
out.cemu
out.evm
bins/cemu
QEMU/qemu/roms/seabios/config.mak
QEMU/qemu/roms/vgabios/config.mak
